$font-color1:rgb(97, 95, 95);
$menu-hover:rgb(52,173,242);
$icon-color:rgb(162, 162, 162);
$bck-quote-color:rgb(93,5,141);
$primary-color:rgb(247,247,247);
$head-color:rgb(60,61,65);
$films-background:rgb(231,232,232);
$up: uppercase;
$small:lowercase;
$cap:capitalize;