$font-color1:rgb(124, 124, 124);
$menu-hover:rgb(52,173,242);
$icon-color:rgb(162, 162, 162);
$quote-color:rgb(93,5,141);
$banner-font-color:rgb(247,247,247);
$up: uppercase;
$small:lowercase;
$cap:capitalize;