@import "reset","variables","mixin";

/*header style start*/
header { 
    padding: 20px 0;
    
    .logo { 
        display: inline-block;
        
        img { width: 150px; }
    }
    
    nav {
        padding: 0 15px;
        display: inline-block;
        
        li { margin: 0 25px; }
        
        a { 
            text-transform: $cap;
            color: $font-color1;
            font-size: 14px;
            
            &:hover { color: $menu-hover; }
        } 
    }
    
    .social-lang {
        float: right;
        
        .social_links_category {
            text-indent: -9999px;
            display: inline-block;
        }
        
        .social_links_category:after {
            text-align: center;
            text-indent: 0;
            width: 12px;
            padding: 6px 6px;
            border: .5px solid $font-color1;
            @include bd-radius(16px);
            margin-left: 6px;
            float: right;
            background: #fff;
            color: rgb(61, 57, 57);
            font-family: "Fontawesome";
            font-size: 12px; 
        }
        
        .facebook--mod:after { 
            content: '\f09a';
            color: $icon-color; 
        }
        .youtube--mod:after { 
            content: '\f167';
            color: $icon-color;
        }
        .twitter--mod:after { 
            content: '\f099';
            color: $icon-color;
        }
        
        .language { 
            text-transform: $cap;
            text-align: center;
            font-size: 12px;
            padding: 5px;
            cursor: pointer;
            color: $icon-color;
            
            .language_name--active { 
                color: $font-color1;
                font-weight: 600;
            }
            
            .language_name--active:after {
                content: ' /';
                font-weight: bold;
            }
        }
    }
}

/*header style end*/

/*banner section start*/

.up { text-transform: $up; }
.cap { text-transform: $cap; }
.small { text-transform: $small; }

.banner {
    background-image: url(../images/img4.png);
    background-size: cover;
    
    .quote-heading { 
        text-align: center;
        padding: 25px 0;
        background-color: $bck-quote-color; 
        color: $primary-color;
        font-size: 28px;
        font-weight: 600;
    }
    
    .slider {
        padding: 220px 0;
        
        .slider_slides {
            text-align: center;
            display: none;
            
            p {
                padding: 20px 0;
                color: $primary-color;
                font-size: 24px;
                font-weight: 600;
            }
            
            .author {
                text-transform: $cap;
                color: $primary-color;
                font-size: 21px;
            }
            
        }
        .slider_slides--showing { display: block; } 
    }
    
    .dots {
        text-align: center;
        padding: 30px 0;
        
        .dots_circle {
            text-indent: -9999px;
            display: inline-block;
        }
        .dots_circle:after {
            content: '\f111';
            text-indent: 0;
            font-family: "Fontawesome";
            margin-left: 6px;
            float: right;
            font-family: "Fontawesome";
            font-size: 12px; 
            opacity: .1;
        }
        .dots_circle_showing:after,
        .dots_circle:hover:after { 
            opacity: 1;
            color: $primary-color;
        }
    }
}

/*banner section end*/

/*film section start*/
%films {
    display: block;
    background: $films-background;
}
%video {
    width: 40%;
    float: left;
}
%title {
    font-size: 24px;
    font-weight: 600;
}
%fimls-sec {
    width: 59%;
    display: inline-block;
}
%filmabout_content { padding: 17px 30px; }
%films-desc {
    text-align: justify;
    padding: 10px 0; 
}

.films {
    margin: 65px 0;

    h2 {
        text-transform: $cap;
        text-align: center;
        color: $head-color;
        font-size: 28px;
        font-weight: 600;
    }
    
    p {
        text-align: center;
        line-height: 1.5;
        padding: 5px 200px 35px 200px;
        color: $font-color1;
        font-size: 14px;
    }
    
    .content {
        width: 70%;
        margin: 0 auto;
        
        .films1 { @extend %films; }
            
        .video { @extend %video; }

        .about { 
            @extend %fimls-sec;

            .filmabout_content {
                @extend %filmabout_content;

                .title { @extend %title; }
                p { @extend %films-desc;}
            }
        }
        
        .films2 {
            @extend %films;
            margin-top: 30px;
            
            .video { @extend %video; }
            
            .title { 
                @extend %title;
                text-transform: $cap;
            }
            img { height: 144px; }
        }
    }
}

.see_more {
    text-align: center;
     padding: 30px 0;
    
    a {
        text-transform: $up;
        padding: 8px 24px;
        @include bd-radius(30px);
        background-color: $menu-hover;
        color: $primary-color;
        border: 1px solid transparent;
        
        &:hover {
            background-color: $primary-color;
            color: $menu-hover;
            border: 1px solid $menu-hover;
        }
    }
}

.health {
    background: url(../images/img4.png);
    padding: 160px 0;
    
    h2 {
        text-transform: $cap;
        text-align: center;
        color: $primary-color;
        font-size: 28px;
        font-weight: 600;
    }
    
    p {
        padding: 10px 100px;
        text-align: center;
        color: $primary-color;
        font-size: 16px;
    }
}



/*film section end*/