/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  border: 0;
  width: 100%;
  height: auto;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 70%;
  margin: 0 auto; }

/*header style start*/
header {
  padding: 20px 0; }
  header .logo {
    display: inline-block; }
    header .logo img {
      width: 150px; }
  header nav {
    padding: 0 15px;
    display: inline-block; }
    header nav li {
      margin: 0 25px; }
    header nav a {
      text-transform: capitalize;
      color: #615f5f;
      font-size: 14px; }
      header nav a:hover {
        color: #34adf2; }
  header .social-lang {
    float: right; }
    header .social-lang .social_links_category {
      text-indent: -9999px;
      display: inline-block; }
    header .social-lang .social_links_category:after {
      text-align: center;
      text-indent: 0;
      width: 12px;
      padding: 6px 6px;
      border: 0.5px solid #615f5f;
      border-radius: 16px;
      -webkit-border-radius: 16px;
      -ms-border-radius: 16px;
      -moz-border-radius: 16px;
      -o-border-radius: 16px;
      margin-left: 6px;
      float: right;
      background: #fff;
      color: #3d3939;
      font-family: "Fontawesome";
      font-size: 12px; }
    header .social-lang .facebook--mod:after {
      content: '\f09a';
      color: #a2a2a2; }
    header .social-lang .youtube--mod:after {
      content: '\f167';
      color: #a2a2a2; }
    header .social-lang .twitter--mod:after {
      content: '\f099';
      color: #a2a2a2; }
    header .social-lang .language {
      text-transform: capitalize;
      text-align: center;
      font-size: 12px;
      padding: 5px;
      cursor: pointer;
      color: #a2a2a2; }
      header .social-lang .language .language_name--active {
        color: #615f5f;
        font-weight: 600; }
      header .social-lang .language .language_name--active:after {
        content: ' /';
        font-weight: bold; }

/*header style end*/
/*banner section start*/
.up {
  text-transform: uppercase; }

.cap {
  text-transform: capitalize; }

.small {
  text-transform: lowercase; }

.banner {
  background-image: url(../images/img4.png);
  background-size: cover; }
  .banner .quote-heading {
    text-align: center;
    padding: 25px 0;
    background-color: #5d058d;
    color: #f7f7f7;
    font-size: 28px;
    font-weight: 600; }
  .banner .slider {
    padding: 220px 0; }
    .banner .slider .slider_slides {
      text-align: center;
      display: none; }
      .banner .slider .slider_slides p {
        padding: 20px 0;
        color: #f7f7f7;
        font-size: 24px;
        font-weight: 600; }
      .banner .slider .slider_slides .author {
        text-transform: capitalize;
        color: #f7f7f7;
        font-size: 21px; }
    .banner .slider .slider_slides--showing {
      display: block; }
  .banner .dots {
    text-align: center;
    padding: 30px 0; }
    .banner .dots .dots_circle {
      text-indent: -9999px;
      display: inline-block; }
    .banner .dots .dots_circle:after {
      content: '\f111';
      text-indent: 0;
      font-family: "Fontawesome";
      margin-left: 6px;
      float: right;
      font-family: "Fontawesome";
      font-size: 12px;
      opacity: .1; }
    .banner .dots .dots_circle_showing:after,
    .banner .dots .dots_circle:hover:after {
      opacity: 1;
      color: #f7f7f7; }

/*banner section end*/
/*film section start*/
.films .content .films1, .films .content .films2 {
  display: block;
  background: #e7e8e8; }

.films .content .video, .films .content .films2 .video {
  width: 40%;
  float: left; }

.films .content .about .filmabout_content .title, .films .content .films2 .title {
  font-size: 24px;
  font-weight: 600; }

.films .content .about {
  width: 59%;
  display: inline-block; }

.films .content .about .filmabout_content {
  padding: 17px 30px; }

.films .content .about .filmabout_content p {
  text-align: justify;
  padding: 10px 0; }

.films {
  margin: 65px 0; }
  .films h2 {
    text-transform: capitalize;
    text-align: center;
    color: #3c3d41;
    font-size: 28px;
    font-weight: 600; }
  .films p {
    text-align: center;
    line-height: 1.5;
    padding: 5px 200px 35px 200px;
    color: #615f5f;
    font-size: 14px; }
  .films .content {
    width: 70%;
    margin: 0 auto; }
    .films .content .films2 {
      margin-top: 30px; }
      .films .content .films2 .title {
        text-transform: capitalize; }
      .films .content .films2 img {
        height: 144px; }

.see_more {
  text-align: center;
  padding: 30px 0; }
  .see_more a {
    text-transform: uppercase;
    padding: 8px 24px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -ms-border-radius: 30px;
    -moz-border-radius: 30px;
    -o-border-radius: 30px;
    background-color: #34adf2;
    color: #f7f7f7;
    border: 1px solid transparent; }
    .see_more a:hover {
      background-color: #f7f7f7;
      color: #34adf2;
      border: 1px solid #34adf2; }

.health {
  background: url(../images/img4.png);
  padding: 160px 0; }
  .health h2 {
    text-transform: capitalize;
    text-align: center;
    color: #f7f7f7;
    font-size: 28px;
    font-weight: 600; }
  .health p {
    padding: 10px 100px;
    text-align: center;
    color: #f7f7f7;
    font-size: 16px; }

/*film section end*/

/*# sourceMappingURL=style.css.map */
